<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul style="text-align: left;">
        <li>Click on JobBoard in the header</li>
        <li>Click on one of the job board tiles</li>
        <li>Verify that data is displayed</li>
        <li>Test for responsiveness of the UI</li>
        </br></br>
        <div>- Burak Onal</div>
    </ul>
</div>

